@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    /*  1rem = 10px  */
    overflow-x: hidden;
}
.header{
    padding: 01.8rem ;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7f5ff;
}
.header .logo{
    height: 5rem;
    width: 10%;
    /* background-color: black; */
}
.nav-lists {
    display: flex;
    gap: 4.8rem;
    font-size: 2rem;
    list-style: none;
    /* padding: 2rem; */
}
.nav-links{
    text-decoration: none;
}
.nav-links:link,
.nav-links:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #212529;
    transition: all .5s;
}
.sec-hero , 
.sec-service{
    padding: 9.6rem 0;
    /* width: 100vw; */
    /* background-color: #a5d8ff; */
    height: 60vh;
    color: red;
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
}
.sec-hero{
    background-color: #a5d8ff;
}
.sec-service{
    background-color: #f3f0ff;
}
.mobile-navbar-btn{
    width:4rem;
    height: 4rem;
}
.mobile-navbar-icon{
    display: none;
    background: transparent;
    cursor: pointer;
}
.mobile-navbar-btn[name="close-outline"]{
    display: none;
}
/* ==================================
    Responsive Codes
=====================================*/
/* 980px */

@media(max-width:62em)
{
    .mobile-navbar-icon{
        display: block;
        z-index: 999;
        border: 2px solid #212529;
        color: #212529;
    }
    .header{
        position: relative;
        
    }
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* to get transition */
        transform: translateX(100%);
        transition: all .5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
    }
    .nav-lists{
        flex-direction: column;
        align-items: center;
    }
    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .active .mobile-navbar-icon
    .mobile-navbar-btn[name="close-outline"]{
        display: block;
    }
    .active .mobile-navbar-icon
    .mobile-navbar-btn[name="menu-outline"]{
        display: none;
    }
    
}  
    @media(max-width: 35em)
    {
        .header{
            padding: 2.4em;
    }
    }